@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather'), url('../fonts/Merriweather-Bold.ttf');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: local('Inter'), url('../fonts/Inter-Bold.ttf');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: local('Inter'), url('../fonts/Inter-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
}

body {
    background: #000000 url("../img/bg.jpg") no-repeat;
}

h1,
h2 {
    font-family: 'Merriweather', serif;
}

h1 {
    padding-bottom: 10px;
    font-size: 60px;
    font-weight: 700;
    line-height: 120px;
}

h2 { 
    padding-bottom: 60px;
    overflow: hidden;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
}

.main_header::before,
.main_header::after {
    content: '';
    margin: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    /*width: 100%;*/
    height: 2px;
    background-color: #BDAE82;
    border: solid #BDAE82;
    border-width: 0 130px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.conteiner {
    margin: auto;
    width: 1440px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 0;
    line-height: 36px;
}

.button {
    width: 220px;
    height: 55px;
    border: none;
}

/* ------------------ HEADER ----------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    line-height: 50px;
}

/* ------------------ logo ----------------------*/

.logo {
    height: 50px;
}

/* ------------------ nav ----------------------*/

.nav_conteiner {
    display: flex;
}

.nav_menu {
    display: flex;
    margin-right: 30px;
}

.nav_menu-link {
    padding-left: 30px;
}

.nav_link-hover:active,
.langage_link-activ,
.langage_link:hover {
    color: #BDAE82;
    border-bottom: none;
}

.nav_link-hover:hover {
    border-bottom: 1px solid #ffffff;
}

/* ------------------ SECTION HERO ----------------------*/

.hero {
    width: 470px;
    height: 330px;
    padding: 160px 80px 330px;
}

.hero_text {
    font-size: 20px;
    line-height: 40px;
}

.hero_button {
    margin-top: 25px;
    background-color: #BDAE82;
}

.hero_button-link {
    line-height: 40px;
    color: #000000;
}

.hero_button-link:hover {
    color: #ffffff;
}

/*.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    line-height: 36px;
}*/

.skills_item {
    display: flex;
    margin-top: 60px;
}

.skills_item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    width: 320px;
    height: 240px;
}

.skills_item-list:last-child {
    padding-right: 0;
}

.skills_item-list:first-child {
    padding-left: 0;
}

.skills_title {
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    padding: 50px 0 20px;
}

.skills_description {
   width: 280px;
   text-align: center;
}

.portfolio_item {
    display: flex;
    margin: 0 0 60px;
}

.portfolio_item-list {
    padding-left: 5px;
}

.portfolio_button {
    border: 2px solid #BDAE82;
    background-color: #000000;
}

.portfolio_button-link {
    padding: 20px 80px;
    color: #BDAE82;
}

.portfolio_button:hover,
.portfolio_button:active,
.portfolio_button-active {
    border: none;
    background-color: #BDAE82;
}

.portfolio_button-link:hover,
.portfolio_button-link:active,
.portfolio_button-link-active {
    color: #000000;
}

.portfolio_galery {
    display: flex;
    flex-flow: row wrap;
}

.portfolio_galery-list {
    width: 450px;
    height: 560px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.portfolio_galery-list:nth-child(3n) {
    padding-right: 0;
}

.video_section {
    position: relative;
}

.icon_play {
    width: 130px;
    height: 130px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.price_item {
    width: 1400px;
    display: flex;
    justify-content: space-between; 
}

.price_item-list {
    width: 446px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 43px 0;
    border: 2px solid #BDAE82;
}

.price_title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
}

.price_summ {
    padding: 20px 0;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price_button {
    margin-top: 40px;
    background-color: #BDAE82;
}

.price_button-link {
    font-size: 20px;
    color: #000000;
}

.price_button:hover {
    border: 2px solid #BDAE82;
    background-color: #000000;
}

.price_button-link:hover {
    padding: 20px 36px;
    color:#BDAE82;
}

.contacts {
    display: flex;
    align-items: flex-end;
    height: 700px;
    margin-top: 100px;
    padding: 0;
    background: #000000 url("../img/contacts.jpg") no-repeat;
}

.contacts_container {
    width: 450px;
    margin-top: 60px;
    margin-right: 20px;
}

.contacts_header {
    padding-bottom: 40px;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
}

.contacts_input {
    width: 446px;
    height: 46px;
    margin-bottom: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    color: #BDAE82;
    border: 2px solid #BDAE82;
    background-color: rgba(0, 0, 0, 0.5);
}

.contacts_textarea {
    height: 100px;
    padding-top: 16px;
}

.button_contacts {
    font-size: 20px;
    color: #000000;
    background-color: #BDAE82;
    cursor: pointer;
}

.button_contacts:hover {
    color: #BDAE82;
    border: 2px solid #BDAE82;
    background-color: #000000;
}

.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 50px;
}

.footer_git {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175px;
}

.footer_social-link {
    display:flex;
    justify-content: space-between;
    align-items:center;
    width: 188px;
}
    

